body {
  font-family: "PT Mono", monospace;
  background-color: #f2f2f2;
}

#filter-wrap {
  background-color: #ffcc00;
  position: absolute;
  top: 0px;
  width: 100%;
}

input {
  position: relative;
  font-family: monospace;
  text-align: center;
  width: 15%;
  height: 30px;
  margin: 1% auto;
  padding: 4px 5px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1 {
  color: black;
  margin: 1px auto 20px auto;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#list-wrap {
  width: 30%;
  margin:100px auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 2%;
}

ul {
  list-style: none;
}

li {
  margin: 8px 0;
}

#add-wrap {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#userInput {
  width: 400px;
  border-width: 4px;
  border-style: double;
  border-color: #666666;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 15px;
}

#userInput:hover {
  background-color: white;
}

#addButton {
  background-color: #f2f2f2;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  color: #666666;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 2px 2px 1px #888888;
}

#addButton:hover {
  background-color: #ffffff;
}

#addButton:active {
  background-color: #ffffff;
  box-shadow: 1px 1px 0 0 #888888;
}

#delButton {
  width: 15px;
  height: 15px;
  background-color: #f2f2f2;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  color: #666666;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 1px 1px 0px #888888;
}

#delButton:hover {
  background-color: #ffe680;
}

#delButton:active {
  background-color: #ffcc00;
}
